.panel-tabset .nav-tabs > li > a{
  background-color: inherit !important;
  color: #000000;
}

.panel-tabset .nav-tabs > li > a:hover{
  background-color: #F0EBDE !important;
  color: #88398A;
}

.panel-tabset .tab button {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
    h1 {
        margin-top: 20px; /* Adjust the value as needed */
    }
}